<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sebi Negoescu's Profile</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'favicon.ico' %}">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center" style="background-image: url(/static/images/background.jpg);">
        <div class="container">
            <h1 class="jumbotron-heading" style="font-style: italic; color:white">{{ job.title }}</h1>
            <p class="lead text-muted">{{ job.company }}</p>
            <p class="lead text-muted">{{ job.get_time_dif }}</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          {% if job.end_date %}
          <h3 style="text-decoration: underline;">Period:
            <h4 style="font-size:16px; font-style: italic; text-decoration: none"> {{ job.start_date }} - {{ job.end_date }}</h4>
          </h3>
          {% else %}
          <h3 style="text-decoration: underline;">Period:
            <h4 style="font-size:16px; font-style: italic; text-decoration: none"> {{ job.start_date }} - Present</h4>
          </h3>
          {% endif %}
          <h3 style="text-decoration: underline;">Description</h3>
          <p>{{ job.description|linebreaks }}</p>
          {% if job.projects %}
          <h3 style="text-decoration: underline">Projects & Roles</h3>
            <p>{{ job.projects|linebreaksbr }}</p>
          {% endif %}
<!-- TO BE CONTINUED HOME !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <div class="mycustom-container">
              <img class="mycustom-image" src="{{ job.photo.url }}">
            </div>
        </div>
      </div>

    </main>
    <div class="mycustom-container">
      <div class="mycustom-background">
        <input class="mybutton-centered" type="button" value="Home" onclick="javascript:history.go(-1);">
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.4.1.min.js' %}" ></script>
  </body>
</html>
